	BODY {
		font-family:Tohoma;
		font-size:11pt;
		background-color:#FFFFFF;
		color:#006699;
	}
	TABLE {
		border:none;
		border-width:0px;
		padding:0px;
		vertical-align:top;
		font-family:Tohoma;
		font-size:11pt;
	
	}
	TR {
		vertical-align:top;
	}
	#each_block {
		color: #006666;
		position:relative;
		width: 247px;
		text-align: left;
		padding: 3px;
	}
	.menuItemEna{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color:#000000;
		background-color: #F0F0F0;
	}
	.menuItemOver{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		color:#FFFFFF;
		background-color: #316AC4;
	}
	#header_text {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		font-weight: bold;
		color: #003399;
	}
	#icon_area {
		width:20px;
		margin-top:2px;
	}
	#top_menu_home_style {
		margin-right: 20px;
		margin-left: 10px;
		color:#000000;
	}
	#top_menu_current_style {
		font-weight: bold;
		color: #000000;
	}
	#bottom_menu_bar {
		width: 100%;
		background-color:#666666;
		min-width: 800px;
		font-family:tokoma;
		color:#FFFFFF;
		height: 40px;
		font-size:11pt;
		vertical-align:middle;
		margin-bottom: 10px;
	}
	#each_item{
		padding:4px;
		position:relative;
		top:30%;
	}
	#instructional {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-weight: normal;
		color: #666666;
	}
	#title_text{
		color:#000000;
		font-size:11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		position:absolute;
		top:5px;
		left: 64px;
		width:324px;
		top:7px;
	}
	#title_area {
		position:absolute; 
		top:0px; 
		left:0px;
	}
	#coming_soon {
		color:#3366FF;
		font-size:11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
#footer{
	height: 55px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color:#FFFFFF;
	font-size: 13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}


#footer_content{
	background-color:#9da3ad;
	height: 33px;
	vertical-align: middle;
}
#links{
	margin-top: 10px;
	width: 600px;
}
#copyRight_block {
	background-color:#FFFFFF;
	margin-top:5px;
	height:20px;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
A.bottomBannerItem{
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
A.bottomBannerItem:hover {
	font-size: 12px;
	color: #003399;
	text-decoration:none;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
A.bottomBannerItem:focus {
	font-size: 12px;
	color: #003399;
	text-decoration:none;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}

A.copyRight:link{
	color: #333333;
	font-size:9px;
	text-decoration:none;
	margin-left: 7px;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
A.copyRight:hover{
	color: #003399;
	font-size:9px;
	text-decoration:none;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
A.copyRight:focus{
	color: #003399;
	font-size:9px;
	text-decoration:none;
	font-family: Tahoma, Kalimati, FreeSans, Verdana, Arial, sans-serif;
}
#each_item {
	color:#FFFFFF;
}

