grant codebase "file:${common.components.home}/modules/oracle.jps_11.1.1/*" {
        permission java.security.AllPermission;
};

grant codebase "file:${jboss.home.dir}/lib/-" {
        permission java.security.AllPermission;
};

grant codebase "file:${jboss.home.dir}/common/lib/-" {
        permission java.security.AllPermission;
};

