BODY
	{font-family	:Tahoma, Arial, 	
			Helvetica;
	margin-top:     0px;
	margin-left:    0px;
	margin-right:   0px;
	margin-bottom:  0px;
	padding-top:    0;
	padding-left:   0;
	padding-right:  0;
	padding-bottom: 0;
	border-top:     0;
	border-left:    0;
	border-bottom:  0;
	border-right:   0;
	width:  auto;
/*	background-image: url(left_nav_bg.gif); */
	background-repeat: repeat;

	}


A:link, A:active
	{text-decoration	:	underline;
	color		:	#999966;
	background	:	transparent;
	}
A:visited 
	{
   	text-decoration	: underline; 
   	color		:	#666666; 
  	background	:	transparent; 
	}		
A:hover 
	{ 
   	text-decoration	:	none; 
	color		:	#000000;
	background	:	transparent;
	}

P, TR, TD, 
DL, OL, UL, BLOCKQUOTE, SPAN, BR
	{FONT-FAMILY:	Tahoma, 
	Arial,Helvetica;
	font-size: 10pt;
	}

