<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="triggerConstraints" name="triggerConstraints" schema="schema/triggerConstraints.exsd"/>
   <extension-point id="triggerActions" name="triggerActions" schema="schema/triggerActions.exsd"/>
   <extension
         id="com.jrockit.mc.console.ui.notification"
         name="com.jrockit.mc.console.ui.notification"
         point="com.jrockit.mc.console.ui.consoleTabs">
      <consoleTab
            class="com.jrockit.mc.console.ui.notification.TriggerTab"
            icon="icons/alert_obj.gif"
            id="com.jrockit.mc.console.ui.notification.TriggerTab"
            name="%TAB_TRIGGER_NAME"
            position="800"/>
   </extension>
 
   <extension
         point="com.jrockit.mc.console.ui.notification.triggerActions">
      <triggerAction
            class="com.jrockit.mc.console.ui.notification.actions.TriggerActionJRA"
            description="%TRIGGER_ACTION_JRA_DESCRIPTION"
            icon="icons/start-jra-recording-16.png"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionJRA"
            name="%TRIGGER_ACTION_JRA_NAME">
         <boolean
               description="%TRIGGER_ACTION_JRA_GC_SAMPLING_DESCRIPTION"
               id="jra_use_gc"
               label="%TRIGGER_ACTION_JRA_GC_SAMPLING_LABEL"
               preference="true"
               value="true"/>
         <boolean
               description="%TRIGGER_ACTION_JRA_METHOD_SAMPLING_DESCRIPTION"
               id="jra_use_method"
               label="%TRIGGER_ACTION_JRA_METHOD_SAMPLING_LABEL"/>
         <boolean
               description="%TRIGGER_ACTION_NATIVE_SAMPLING_DESCRIPTION"
               id="jra_use_native"
               label="%TRIGGER_ACTION_JRA_NATIVE_SAMPLING_LABEL"/>
         <integer
               description="%TRIGGER_ACTION_JRA_DURATION_DESCRIPTION"
               id="jra_duration"
               label="%TRIGGER_ACTION_JRA_DURATION_LABEL"
               min="1"
               value="120"/>
         <file
               description="%TRIGGER_ACTION_JRA_FILE_NAME_DESCRIPTION"
               id="jra_filename"
               label="%TRIGGER_ACTION_JRA_FILE_NAME_LABEL"
               value="jrarecording.jra"/>
      </triggerAction>
      <triggerAction
            class="com.jrockit.mc.console.ui.notification.actions.TriggerActionMail"
            description="%TRIGGER_ACTION_EMAIL_DESCRIPTION"
            icon="icons/send-email-16.png"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionMail"
            name="%TRIGGER_ACTION_EMAIL_NAME">
         <string
               description="%TRIGGER_ACTION_EMAIL_SMTP_DESCRIPTION"
               id="smtp_server"
               label="%TRIGGER_ACTION_EMAIL_SMTP_LABEL"
               preference="true"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_SENDER_DESCRIPTION"
               id="email_from"
               label="%TRIGGER_ACTION_EMAIL_SENDER_LABEL"
               preference="false"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_RECEIVER_DESCRIPTION"
               id="email_to"
               label="%TRIGGER_ACTION_EMAIL_RECEIVER_LABEL"
               preference="true"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_CC_DESCRIPTION"
               id="email_cc"
               label="%TRIGGER_ACTION_EMAIL_CC_LABEL"
               preference="true"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_BCC_DESCRIPTION"
               id="email_bcc"
               label="%TRIGGER_ACTION_EMAIL_BCC_LABEL"
               preference="true"/>
      </triggerAction>
     
      
      <triggerAction
            class="com.jrockit.mc.console.ui.notification.actions.TriggerActionSystemOut"
            description="%TRIGGER_ACTION_SYSTEM_OUT_DESCRIPTION"
            icon="icons/console_view.gif"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionSystemOut"
            name="%TRIGGER_ACTION_SYSTEM_OUT_NAME"/>
   </extension>
   <extension
         point="com.jrockit.mc.console.ui.notification.triggerConstraints">
      <triggerConstraint
            class="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintDateRange"
            description="%TRIGGER_CONSTRAINT_DATE_RANGE_DESCRIPTION"
            icon="icons/date-span-16.png"
            id="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintDateRange"
            name="%TRIGGER_CONSTRAINT_DATE_RANGE_NAME">
         <date
               description="%TRIGGER_CONSTRAINT_DATE_RANGE_FROM_DESCRIPTION"
               id="from"
               label="%TRIGGER_CONSTRAINT_DATE_RANGE_FROM_LABEL"/>
         <date
               description="%TRIGGER_CONSTRAINT_DATE_RANGE_TO_DESCRIPTION"
               id="to"
               label="%TRIGGER_CONSTRAINT_DATE_RANGE_TO_LABEL"/>
      </triggerConstraint>
      <triggerConstraint
            class="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintTimeRange"
            description="%TRIGGER_CONSTRAINT_TIME_RANGE_DESCRIPTION"
            icon="icons/time-span-16.png"
            id="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintTimeRange"
            name="%TRIGGER_CONSTRAINT_TIME_RANGE_NAME">
         <time
               description="%TRIGGER_CONSTRAINT_TIME_RANGE_FROM_DESCRIPTION"
               id="from"
               label="%TRIGGER_CONSTRAINT_TIME_RANGE_FROM_LABEL"/>
         <time
               description="%TRIGGER_CONSTRAINT_TIME_RANGE_TO_DESCRIPTION"
               id="to"
               label="%TRIGGER_CONSTRAINT_TIME_RANGE_TO_LABEL"/>
      </triggerConstraint>
      <triggerConstraint
            class="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintDayOfWeek"
            description="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_DESCRIPTION"
            icon="icons/day-of-week-16.png"
            id="com.jrockit.mc.console.ui.notification.constraints.TriggerConstraintDayOfWeek"
            name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_NAME">
         <boolean
               id="monday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_MONDAY_LABEL"
               value="true"/>
         <boolean
               id="tuesday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_TUESDAY_LABEL"
               value="true"/>
         <boolean
               id="wednesday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_WEDNESDAY_LABEL"
               value="true"/>
         <boolean
               id="thursday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_THURSDAY_LABEL"
               value="true"/>
         <boolean
               id="friday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_FRIDAY_LABEL"
               value="true"/>
         <boolean
               id="saturday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_SATURDAY_LABEL"
               value="true"/>
         <boolean
               id="sunday"
               label="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_SUNDAY_LABEL"
               value="true"/>
      </triggerConstraint>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="com.jrockit.mc.console.ui.notification_contexts.xml"
            plugin="com.jrockit.mc.console.ui.notification"/>
      <contexts
            file="com.jrockit.mc.console.ui.notification.tab_contexts.xml"
            plugin="com.jrockit.mc.console.ui.notification.tab"/>
   </extension>
</plugin>
