#
#
# This is a sample configuration file for the Jolt Relay Front-end
# component (jrly on UNIX systems, JRLY.exe on NT systems). Modify a 
# copy of this file to configure the relay.
#
# The file consists of <key-word>=<value> pairs. Blank lines and lines
# starting with a "#" are ignored. If any key-words are specified
# multiple times in the file then the LAST one specified will be used.
# 

# LOGDIR is the directory where JRLY will create access and error log
# files. This directory must exists - the jrly program will not
# start if it cannot find this directory. The path specified for LOGDIR
# should be an absolute path (starting from / on UNIX systems, starting
# from <DRIVE>: on NT systems). The jrly will accept relative path names
# but then the LOGDIR will be relative to the directory from which the
# JRLY program is started.
#
# /tmp is the directory where log files will be created.

LOGDIR=/tmp

# ACCESS_LOG is the file name where JRLY records access information. This
# file will be created in $LOGDIR. If the file already exists it will
# be appended to. This can be any valid file name. Everything after the
# equals sign (=) till the end of the line is treated as the file name,
# so an entry of
# ACCESS_LOG="access log"
# would create a file named "access log" (including the double quotes).
#
# Leading and trailing blanks are ignored after the equals sign (=). So
# and entry of
# ACCESS_LOG=   access_log
# would create a file named "access_log" (without the double quotes).
#
# If the JRLY program cannot create the ACCESS_LOG file or open it for
# appending, the program will exit. 

ACCESS_LOG=JRLY_access_log

# ERROR_LOG is the file where JRLY records error information. This file
# follows all the rules which apply to ACCESS_LOG above.
#
# JRLY_error_log will be created in /tmp

ERROR_LOG=JRLY_error_log

# The LISTEN key word specifies the host and port where the JRLY will
# listen for client connections. The following formats are acceptable:
#	LISTEN=NN.NN.NN.NN:PPPP		e.g. LISTEN=192.9.100.100:3030
#	LISTEN=//NN.NN.NN.NN:PPPP	e.g. LISTEN=//192.9.100.100:3030
#	LISTEN=hostname:port		e.g. LISTEN=myhost:3030
#	LISTEN=//hostname:port		e.g. LISTEN=//myhostname:3030
#
# The port number is specified in decimal.
#
# NOTE: If a machine has multiple network interfaces you should use
# 	the IP address notation, since specifying the hostname could
#	be ambiguous (OS dependent result).
#
# If the JRLY program cannot establish a network listening end-point
# at the host:port specified it will print an error and exit
# (The hostname specified for LISTEN must be the name of the host on
# which the program is running)
#
# LISTEN on host called 'myserver', using port 5555

LISTEN=//myserver:5555

# The CONNECT key word specifies the location of the Jolt Relay
# Adapter (JRAD) process to which the JRLY program communicates.
# Multiple CONNECT key words (in separate lines) can be speicied as
# the JRLY will failover to another JRAD if the current JRAD becomes
# unavailable. A JRLY only communicates with one single JRAD at a
# time. The JRAD(s) do not have to be running when the JRLY is
# started. The JRLY will attempt to connect to the JRAD when it
# first starts - if the JRAD is not available the JRLY will try again
# whenever a new client connects to the JRLY.

# CONNECT to JRAD on host whose IP address is '192.9.100.100' using
# ports 4444 and 4445, and to JRAD on host whose IP address is
# '192.9.100.101' using port 8888
# Multiple JRAD connection in a comma separated list

CONNECT=192.9.100.100:4444, 192.9.100.100:4445, 192.9.100.101:8888

#
#SOCKETTIMEOUT=10 is used by JRLY NT Service to poll for status changes
#This is the socket timeout used by select() SOCKET API
#This is the MAXIMUM wait time for a service to stop
SOCKETTIMEOUT=10
